<form method="POST" action="/register">
    <div class="container mt-5">
    <h2><b>Register</b></h2>
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id = "username" name = "username"/><br />
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id = "password" name = "password"/><br />
<button class="btn btn-primary" type="submit">Register</button>
<div>
Already have an account?<a href='/login'>Login</a>
</div>
</div>
</form>